* {
    box-sizing: border-box;
    font: 16px Monospace, sans-serif;
}

body {
    background-color: #223;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;

}

#automata {
    background-color: black;
}

.hud {
    color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game {
    display: flex;
    flex-direction: column;
}

.label {
    color: white;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 700;
}